/* Sign-up css */
.main-content {
  margin-top: 82px;
}
.sign-up-button {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #000000b4;
}
.sign-up-alert {
  position: absolute;
  top: 120px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: white;
  width: 550px;
  height: 479px;
  border-radius: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #83909b;
}
.sign-up-alert > img {
  margin: 15px 0px 15px 0px;
  max-width: 62.5px;
  max-height: 42.5px;
  display: flex;
  justify-content: center;
}
.sign-up-fnc {
  border: solid 1px rgba(169, 172, 175, 0.3);
  width: 320px;
  height: 55px;
  border-radius: 27.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #223444;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.icon {
  margin-top: 5px;
  color: #216ff9;
}
.sign-up-fnc > img {
  width: 32px;
  height: 32px;
}
.alert-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.01em;
  color: #223444;
  margin: -20px 0px 10px 0px;
}
.alert-btn.sign-up {
  margin-top: -21px;
}

.input.sign-up {
  width: 400px;
  height: 40px;
  border: 1px solid rgba(88, 106, 121, 0.4);
  border-radius: 5px;
  padding-left: 5px;
  font-weight: 400;
  font-size: 14px;
  color: #223444;
}
.input.sign-up:focus {
  outline: none !important;
  border: 1px solid #1777e8;
  box-shadow: 0 0 3px #719ece;
}
.sign-up-alert-form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}
.back {
  margin: 15px 0px 0px -375px;
  color: #717c85;
  font-size: 20px;
}
.sign-up-alert-form.stp2 {
  margin-top: -10px;
}
.sign-up-avatar {
  margin-top: -15px;
}
.sample-avatar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
}
.sample-avatar > button > img {
  width: 50px;
  height: 50px;
}
.sign-up-upload {
  margin-top: -15px;
  margin-left: -148px;
}

input::file-selector-button {
  font-weight: bold;
  color: #868686;
  padding: 0.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}
.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  color: #f8f8f8;
}
.close-btn:hover,
.close-btn-alert:hover {
  background-color: #dadee1;
  cursor: pointer;
  transition: 0.2s;
}
