#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
input {
  width: 250px;
  height: 30px;
}
.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}

.user {
  margin-bottom: 15px;
}
.pass {
  margin-bottom: 20px;
}
.label {
  font-size: 14px;
}

button {
  width: 100%;
}
